.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  .info-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    p {
      margin: 0;
      padding: 1rem;
    }
  }
}

img {
  border-radius: 3rem;
}
