body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;

  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
}

footer {
  position: sticky;
  top: 100%;
}
